
@mixin reset-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin title($font-size: 30px, $line-height: 40px){
  margin: 0;
  color: $heading-colors;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-stack-accent;
}

