      /*FONTS*/
      $font-stack-main: "PT Sans","Arial",sans-serif;
      $font-stack-accent: "Cuprum", "Arial", sans-serif;

      /*COLORS*/

      $main-colors: #ffffff;
      $text-colors: #616368;
      $heading-colors: #242f51;
      $footer-colors: #09142e;
      $button-colors: #2500f9;
      $pramary-colors: #2563ff;
      $accent-colors: #f55767;
      $vector-colors: #40975f;
      $cloud-colors: #fff6d3;
      $app-colors: #ffecef;
