/*BOOTSTRAP*/
/*FontAwesome*/
/*MAIN*/
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-Regular.woff2") format("woff2"), url("../fonts/Cuprum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-Italic.woff2") format("woff2"), url("../fonts/Cuprum-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-Bold.woff2") format("woff2"), url("../fonts/Cuprum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-BoldItalic.woff2") format("woff2"), url("../fonts/Cuprum-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.woff2") format("woff2"), url("../fonts/PTSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2"), url("../fonts/PTSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*FONTS*/
/*COLORS*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header__top {
  padding: 30px 0 0;
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-header__button {
  width: 160px;
  text-align: right;
}

.site-header__middle {
  position: relative;
  height: 865px;
  padding: 160px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: url("../img/bg.png");
}
.site-header__middle::after {
  position: absolute;
  top: 4%;
  right: 11%;
  width: 445px;
  height: 818px;
  background: url("../img/mobileMan.png") no-repeat;
  content: "";
}

.site-header__span {
  position: relative;
  padding: 8px 35px 8px 50px;
  border-radius: 20px;
  background-color: #e2eaed;
  color: #242f51;
  font-size: 17px;
  line-height: 18px;
}
.site-header__span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 38px;
  border-radius: 20px;
  background: url("../img/check.png") no-repeat center center, #feaa25;
  content: "";
}

.site-header__heading {
  padding: 30px 0;
  margin: 0;
  color: #242f51;
  font-size: 60px;
  line-height: 60px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-header__text {
  padding-bottom: 20px;
  margin: 0;
  color: #616368;
  font-size: 18px;
  line-height: 26px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-header__list {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-header__link {
  font-size: 16px;
  line-height: 18px;
  color: #2500f9;
  text-decoration: none;
}

.logo {
  display: inline-block;
  padding-top: 5px;
  width: 118px;
  height: 32px;
}
.logo:hover, .logo:focus {
  cursor: pointer;
}
.logo__img {
  vertical-align: middle;
}

.logo--site-header {
  width: 120px;
}

.site-navigation {
  width: 640px;
}
.site-navigation--footer {
  padding: 30px 0;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.site-navigation__item {
  padding: 10px 10px;
  border-bottom: 2px solid transparent;
}
.site-navigation__item:hover {
  border-bottom: 2px solid #f55767;
}

.site-navigation__link {
  display: block;
  color: #616368;
  text-decoration: none;
}
.site-navigation__link--footer {
  color: #ffffff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  background-color: #2500f9;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}
.button:hover, .button:focus {
  background-color: #3518de;
  cursor: pointer;
}
.button:active {
  background-color: #331dad;
  cursor: pointer;
}

.site-features__button {
  padding: 10px 30px;
}

.site-brand {
  padding: 80px 0;
}

.site-brand__heading {
  padding-bottom: 20px;
  text-align: center;
  margin: 0;
  color: #242f51;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-brand__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-app-features {
  position: relative;
  padding: 30px 370px 150px 760px;
  font-family: "Cuprum", "Arial", sans-serif;
  background: url("../img/bg-appFeatures.png");
  background-repeat: no-repeat;
  background-position: left 70px;
  background-size: contain;
}
.site-app-features::after {
  position: absolute;
  top: 0;
  left: 125px;
  width: 583px;
  height: 840px;
  background-image: url("../img/mobile-features.png");
  background-repeat: no-repeat;
  content: "";
}

.site-app-features__title {
  margin: 0;
  color: #242f51;
  font-size: 40px;
  line-height: 40px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-app-features__text {
  font-size: 18px;
  line-height: 20px;
  color: #616368;
}

.site-app-features__list {
  padding-left: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-app-features__item {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-app-features__images {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 78px;
  border-radius: 50%;
}
.site-app-features__images--fast {
  background-color: #ffecef;
}
.site-app-features__images--prototyping {
  background-color: #f4f4ff;
}
.site-app-features__images--vector {
  background-color: #e4ffee;
}
.site-app-features__images:hover {
  box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
  cursor: pointer;
}

.site-app-features__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
}

.site-app-features__block {
  padding-left: 20px;
}

.site-app-features__heading {
  padding-bottom: 10px;
  margin: 0;
  font-size: 28px;
  line-height: 30px;
}
.site-app-features__heading--fast {
  color: #f55767;
}
.site-app-features__heading--prototyping {
  color: #2563ff;
}
.site-app-features__heading--vector {
  color: #40975f;
}

.site-app-features__page {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

.site-jackpots {
  padding: 50px 0;
}

.site-jackpots__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 65px;
}

.site-jackpots__title {
  width: 400px;
  padding-right: 80px;
  border-right: 1px solid #616368;
  margin: 0;
  color: #242f51;
  font-size: 30px;
  line-height: 32px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-jackpots__page {
  margin: 0;
  width: 560px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #616368;
}

.site-jackpots__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-jackpots__span {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.site-jackpots__span--automatic {
  background-color: #ffecef;
}
.site-jackpots__span--network {
  background-color: #f4f4ff;
}
.site-jackpots__span--bigger {
  background-color: #e4ffee;
}
.site-jackpots__span:hover {
  box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
  cursor: pointer;
}

.site-jackpots__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.site-jackpots__heading {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  color: #242f51;
  font-size: 24px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-jackpots__text {
  margin: 0;
  padding-right: 60px;
  font-size: 16px;
  line-height: 18px;
}

.site-designed {
  padding: 230px 480px 230px 750px;
  background-repeat: no-repeat;
  background-position: 80px center;
  background-size: 600px 550px;
  background-image: url("../img/bg-designed.png");
}

.site-designed__heading {
  margin: 0;
  color: #242f51;
  font-size: 30px;
  line-height: 32px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-designed__text {
  margin: 0;
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;
}

.site-setting {
  padding: 40px 0;
}

.site-setting__title {
  text-align: center;
  margin: 0;
  color: #242f51;
  font-size: 36px;
  line-height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-setting__page {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.site-setting__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-setting__item {
  padding-bottom: 30px;
  text-align: center;
  width: 310px;
}

.site-setting__span {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: red;
}
.site-setting__span--app {
  background-color: #ffecef;
}
.site-setting__span--award {
  background-color: #eaf9ff;
}
.site-setting__span--cloud {
  background-color: #fff6d3;
}
.site-setting__span--customization {
  background-color: #e4ffee;
}
.site-setting__span--ux {
  background-color: #f4f4ff;
}
.site-setting__span--customer {
  background-color: #fdeee4;
}
.site-setting__span:hover {
  box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
  cursor: pointer;
}

.site-setting__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.site-setting__heading {
  padding: 20px 0;
  margin: 0;
  color: #242f51;
  font-size: 24px;
  line-height: 26px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-setting__text {
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  line-height: 18px;
}

.site-features {
  position: relative;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-position: 760px 30px;
  background-size: contain;
  background-image: url("../img/bg-appFeatures.png");
}
.site-features::before {
  position: absolute;
  top: -15px;
  right: 100px;
  width: 600px;
  height: 800px;
  z-index: 10;
  background-repeat: no-repeat;
  background-image: url("../img/mobile-black.png");
  content: "";
}
.site-features::after {
  position: absolute;
  top: 91px;
  right: 60px;
  width: 400px;
  height: 450px;
  z-index: 11;
  transform: rotate(17deg);
  background-repeat: no-repeat;
  background-image: url(../img/mobile-planning.png);
  content: "";
}

.site-features__title {
  margin: 0;
  color: #242f51;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-features__page {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
}

.site-features__list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-features__item {
  padding-right: 20px;
  padding-bottom: 40px;
}

.site-features__span {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.site-features__span--app {
  background-color: #ffecef;
}
.site-features__span--ux {
  background-color: #e4ffee;
}
.site-features__span--cloud {
  background-color: #fff6d3;
}
.site-features__span--customer {
  background-color: #f4f4ff;
}
.site-features__span:hover {
  box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
  cursor: pointer;
}

.site-features__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.site-features__heading {
  padding: 20px 0;
  margin: 0;
  color: #242f51;
  font-size: 24px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-features__text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.site-extra-changes {
  position: relative;
  padding: 80px 0;
  text-align: center;
}
.site-extra-changes::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f4f7f9;
  content: "";
}

.site-extra-changes__title {
  margin: 0;
  color: #242f51;
  font-size: 32px;
  line-height: 34px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-extra-changes__page {
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;
}

.site-extra-changes__link {
  margin-bottom: 40px;
  padding: 1px;
  display: inline-block;
  border: 1px solid #616368;
  border-radius: 20px;
}

.site-extra-changes__label {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #616368;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}
.site-extra-changes__label:hover, .site-extra-changes__label:focus {
  background-color: #dde2e7;
  color: #242f51;
  cursor: pointer;
}
.site-extra-changes__label:active {
  background-color: #dde2e7;
  color: #242f51;
  cursor: pointer;
}

#monthly:checked ~ .site-extra-changes__link .site-extra-changes__label:nth-child(1),
#annually:checked ~ .site-extra-changes__link .site-extra-changes__label:nth-child(2) {
  background-color: #2500f9;
  color: #ffffff;
}

.site-extra-changes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-extra-changes__item {
  margin-right: 40px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  overflow: hidden;
}
.site-extra-changes__item:hover, .site-extra-changes__item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  cursor: pointer;
}

.site-extra-changes__header {
  display: inline-block;
  padding: 30px;
  background-color: #f4f7f9;
}

.site-extra-changes__heading {
  padding: 10px 0 0 0;
  margin: 0;
  color: #242f51;
  font-size: 24px;
  line-height: 28px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-extra-changes__text {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 18px;
}

.site-extra-changes__body {
  padding-bottom: 20px;
}

.site-extra-changes__button {
  margin-top: 10px;
}

.site-extra-changes__span {
  margin: 0;
  color: #242f51;
  font-size: 48px;
  line-height: 48px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
}

.site-client {
  position: relative;
  padding: 100px 0 50px 700px;
  background-repeat: no-repeat;
  background-size: 640px 300px;
  background-position: 0 center;
  background-image: url("../img/bg-client.png");
}
.site-client__person {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.site-client__person--adult {
  bottom: 134px;
  left: 327px;
  background-image: url("../img/person-adult.png");
}
.site-client__person--black {
  top: 245px;
  left: 510px;
  background-image: url("../img/person-black.png");
}
.site-client__person--stef {
  top: 110px;
  left: 435px;
  background-image: url("../img/person-stef.png");
}
.site-client__person--nea {
  bottom: 190px;
  left: 60px;
  background-image: url("../img/person-nea.png");
}
.site-client__person--jon {
  bottom: 263px;
  left: 227px;
  background-image: url("../img/person-jon.png");
}
.site-client__person--lue {
  top: 80px;
  left: 207px;
  background-image: url("../img/person-lue.png");
}
.site-client__person--holmes {
  top: 188px;
  left: 20px;
  background-image: url("../img/person-holmes.png");
}

.site-client__title {
  margin: 0;
  color: #242f51;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-client__page {
  padding: 20px 0;
  font-size: 16px;
  line-height: 18px;
}

.site-client__heading {
  padding: 20px 0;
  margin: 0;
  color: #242f51;
  font-size: 24px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-client__text {
  font-size: 16px;
  line-height: 18px;
}

.site-client__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-client__star {
  width: 25px;
  height: 25px;
}

.site-questions {
  padding: 40px 0;
}

.site-questions__title {
  text-align: center;
  margin: 0;
  color: #242f51;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-questions__page {
  margin: 0;
  padding: 30px 0 50px 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #616368;
}

.site-questions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-questions__item {
  position: relative;
  margin-bottom: 10px;
  background-color: #f5f7fa;
  box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
}

.site-questions__heading {
  padding: 20px 0 20px 20px;
  margin: 0;
  color: #242f51;
  font-size: 20px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.active, .site-questions__heading:hover {
  cursor: pointer;
  background-color: #ccc;
}

.panel {
  margin: 0;
  width: 940px;
  font-size: 16px;
  line-height: 18px;
  color: #09142e;
  position: absolute;
  z-index: 100;
  padding: 10px 18px;
  display: none;
  background-color: #adb5bd;
  overflow: hidden;
}

.site-download {
  position: relative;
  padding: 50px 0;
  background-position: right 38px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/bg-download.png");
}
.site-download::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f4f7f9;
  content: "";
}

.site-download__title {
  margin: 0;
  color: #242f51;
  font-size: 48px;
  line-height: 48px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.site-download__page {
  margin: 0;
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;
  color: #616368;
}

.site-download__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-download__item:nth-child(1) {
  margin-right: 10px;
}
.site-download__item:nth-child(1) .site-download__text {
  text-transform: uppercase;
}

.site-download__link {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 60px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #000000;
  text-decoration: none;
}

.site-download__google-play {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}

.site-download__app-store {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}

.site-download__text {
  margin: 0;
  font-size: 13px;
  line-height: 14px;
}

.site-download__heading {
  margin: 0;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 28px;
}

.site-footer {
  padding: 50px 0;
  background-color: #09142e;
  color: #ffffff;
}

.site-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-footer__link {
  display: inline-block;
  margin-right: 15px;
  color: #ffffff;
}

.site-footer__icon {
  width: 40px;
  height: 40px;
}

.site-footer__text {
  margin: 0;
  padding-top: 60px;
  font-size: 16px;
  line-height: 18px;
}

/*# sourceMappingURL=main.css.map */
