.button{
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  background-color: $button-colors;
  color: $main-colors;
  font-family: $font-stack-accent;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus{
    background-color: #3518de;
    cursor: pointer;
  }

  &:active{
    background-color: #331dad;
    cursor: pointer;
  }
}

.site-features__button{
  padding: 10px 30px;
}
