.logo{
  display: inline-block;
  padding-top: 5px;
  width: 118px;
  height: 32px;

  &:hover,
  &:focus{
    cursor: pointer;
  }

  &__img{
    vertical-align: middle;
  }
}
.logo--site-header{
  width: 120px;
}
