.site-navigation{
  width: 640px;

  &--footer{
    padding: 30px 0;
  }
}

.site-navigation__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include reset-list;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.site-navigation__item{
  padding: 10px 10px;
  border-bottom: 2px solid transparent;

  &:hover{
    border-bottom: 2px solid $accent-colors;
  }
}

.site-navigation__link{
  display: block;
  color: $text-colors;
  text-decoration: none;

  &--footer{
    color: #ffffff;
  }
}
