.site-footer{
  padding: 50px 0;
  background-color: $footer-colors;
  color: #ffffff;
}

.site-footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer__list{
  display: flex;
  @include reset-list;
}

.site-footer__link{
  display: inline-block;
  margin-right: 15px;
  color: #ffffff;
}

.site-footer__icon{
  width: 40px;
  height: 40px;
}

.site-footer__text{
  margin: 0;
  padding-top: 60px;
  font-size: 16px;
  line-height: 18px;
}
