.site-setting{
  padding: 40px 0;
}

.site-setting__title{
  text-align: center;
  @include title($font-size: 36px, $line-height: 38px);
}

.site-setting__page{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.site-setting__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include reset-list;
}

.site-setting__item{
  padding-bottom: 30px;
  text-align: center;
  width: 310px;
}

.site-setting__span{
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: red;

  &--app{
    background-color: #ffecef;
  }
  &--award{
    background-color: #eaf9ff;
  }
  &--cloud{
    background-color: #fff6d3;
  }
  &--customization{
    background-color: #e4ffee;
  }
  &--ux{
    background-color: #f4f4ff;
  }
  &--customer{
    background-color: #fdeee4;
  }

  &:hover{
    box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
    cursor: pointer;
  }
}

.site-setting__img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.site-setting__heading{
  padding: 20px 0;
  @include title($font-size: 24px, $line-height: 26px);
}

.site-setting__text{
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  line-height: 18px;
}
