.site-client {
  position: relative;
  padding: 100px 0 50px 700px;
  background-repeat: no-repeat;
  background-size: 640px 300px ;
  background-position: 0 center;
  background-image: url("../img/bg-client.png");


  &__person{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__person--adult {
    bottom: 134px;
    left: 327px;
    background-image: url("../img/person-adult.png");
  }

  &__person--black{
    top: 245px;
    left: 510px;
    background-image: url("../img/person-black.png");
  }

  &__person--stef {
    top: 110px;
    left: 435px;
    background-image: url("../img/person-stef.png");
  }

  &__person--nea{
    bottom: 190px;
    left: 60px;
    background-image: url("../img/person-nea.png");
  }

  &__person--jon {
    bottom: 263px;
    left: 227px;
    background-image: url("../img/person-jon.png");
  }

  &__person--lue{
    top: 80px;
    left: 207px;
    background-image: url("../img/person-lue.png");
  }

  &__person--holmes{
    top: 188px;
    left: 20px;
    background-image: url("../img/person-holmes.png");
  }
}
.site-client__title{
  @include title($font-size: 36px, $line-height: 36px);
}

.site-client__page{
  padding: 20px 0;
  font-size: 16px;
  line-height: 18px;
}

.site-client__heading{
  padding: 20px 0;
  @include title($font-size: 24px, $line-height: 24px);
}

.site-client__text{
  font-size: 16px;
  line-height: 18px;
}

.site-client__list{
  display: flex;
  @include reset-list;
}

.site-client__star{
  width: 25px;
  height: 25px;
}
