.site-designed{
  padding: 230px 480px 230px 750px;
  background-repeat: no-repeat;
  background-position: 80px center;
  background-size: 600px 550px;
  background-image: url("../img/bg-designed.png");
}

.site-designed__heading{
  @include title($font-size: 30px, $line-height: 32px);
}

.site-designed__text{
  margin: 0;
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;
}
