.site-download{
  position: relative;
  padding: 50px 0;
  background-position: right 38px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/bg-download.png");

  &::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f4f7f9;
    content: "";
  }
}

.site-download__title{
  @include title($font-size: 48px, $line-height: 48px)
}

.site-download__page{
  margin: 0;
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;
  color: $text-colors;
}

.site-download__list{
  display: flex;
  flex-wrap: wrap;
  @include reset-list;
}

.site-download__item{


  &:nth-child(1){
    margin-right: 10px;
  }
  &:nth-child(1) .site-download__text{
    text-transform: uppercase;
  }
}

.site-download__link{
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 60px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #000000;
  text-decoration: none;
}

.site-download__google-play{
  position: absolute;
  top: 50%;
  left: 10px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}

.site-download__app-store{
  position: absolute;
  top: 50%;
  left: 10px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}

.site-download__text{
  margin: 0;
  font-size: 13px;
  line-height: 14px;

}
.site-download__heading{
  margin: 0;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 28px;
}
