.site-features{
  position: relative;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-position: 760px 30px;
  background-size: contain;
  background-image: url("../img/bg-appFeatures.png");

  &::before{
    position: absolute;
    top: -15px;
    right: 100px;
    width: 600px;
    height: 800px;
    z-index: 10;
    background-repeat: no-repeat;
    background-image: url("../img/mobile-black.png");
    content: "";
  }

  &::after{
    position: absolute;
    top: 91px;
    right: 60px;
    width: 400px;
    height: 450px;
    z-index: 11;
    transform: rotate(17deg);
    background-repeat: no-repeat;
    background-image: url(../img/mobile-planning.png);
    content: "";
  }
}

.site-features__title{
  @include title($font-size: 30px, $line-height: 30px);
}

.site-features__page{
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
}

.site-features__list{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  @include reset-list;
}

.site-features__item{
  padding-right: 20px;
  padding-bottom: 40px;
}

.site-features__span{
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;

  &--app{
    background-color: $app-colors;
  }
  &--ux{
    background-color: #e4ffee;
  }
  &--cloud{
    background-color: $cloud-colors;
  }
  &--customer{
    background-color: #f4f4ff;
  }


  &:hover{
    box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
    cursor: pointer;
  }
}

.site-features__img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
}

.site-features__heading{
  padding: 20px 0;
  @include title($font-size: 24px, $line-height: 24px);
}

.site-features__text{
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

