.site-header__top{
  padding: 30px 0 0;
}

.site-header__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-header__button{
  width: 160px;
  text-align: right;
}

.site-header__middle{
  position: relative;
  height: 865px;
  padding: 160px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: url("../img/bg.png");

  &::after{
    position: absolute;
    top: 4%;
    right: 11%;
    width: 445px;
    height: 818px;
    background: url("../img/mobileMan.png") no-repeat;
    content: "";
  }
}

.site-header__span{
  position: relative;
  padding: 8px 35px 8px 50px;
  border-radius: 20px;
  background-color: #e2eaed;
  color: $heading-colors;
  font-size: 17px;
  line-height: 18px;

  &::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 38px;
    border-radius: 20px;
    background: url("../img/check.png") no-repeat center center,
                rgb(254, 170, 37);
    content: "";
  }
}

.site-header__heading{
  padding: 30px 0;
  @include title($font-size: 60px, $line-height: 60px);
}

.site-header__text{
  padding-bottom: 20px;
  margin: 0;
  color: $text-colors;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-stack-accent;
}
.site-header__list{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include reset-list;
}

.site-header__link{
  font-size: 16px;
  line-height: 18px;
  color: $button-colors;
  text-decoration: none;
}
