.site-app-features{
  position: relative;
  padding: 30px 370px 150px 760px;
  font-family: $font-stack-accent;
  background: url("../img/bg-appFeatures.png");
  background-repeat: no-repeat;
  background-position: left 70px;
  background-size: contain;

  &::after{
    position: absolute;
    top: 0;
    left: 125px;
    width: 583px;
    height: 840px;
    background-image: url("../img/mobile-features.png");
    background-repeat: no-repeat;
    content: "";
  }

}

.site-app-features__title{
  @include title($font-size: 40px, $line-height: 40px)
}

.site-app-features__text{
  font-size: 18px;
  line-height: 20px;
  color: $text-colors;
}

.site-app-features__list{
  padding-left: 40px;
  @include reset-list;
}

.site-app-features__item{
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-app-features__images{
  position: relative;
  display: inline-block;
  width: 190px;
  height: 78px;
  border-radius: 50%;

  &--fast{
    background-color: #ffecef;
  }

  &--prototyping{
    background-color: #f4f4ff;
  }

  &--vector{
    background-color: #e4ffee;
  }

  &:hover{
    box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
    cursor: pointer;
  }
}

.site-app-features__img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
}

.site-app-features__block{
  padding-left: 20px;
}

.site-app-features__heading{
  padding-bottom: 10px;
  margin: 0;
  font-size: 28px;
  line-height: 30px;

  &--fast{
color: $accent-colors;
  }

  &--prototyping{
color: $pramary-colors;
  }

  &--vector{
    color: $vector-colors;
  }
}

.site-app-features__page{
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}
