.site-jackpots{
  padding: 50px 0;
}

.site-jackpots__block{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 65px;
}

.site-jackpots__title{
  width: 400px;
  padding-right: 80px;
  border-right: 1px solid $text-colors;
  @include title($font-size: 30px, $line-height: 32px);
}

.site-jackpots__page{
  margin: 0;
  width: 560px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  color: $text-colors;
}

.site-jackpots__list{
  display: flex;
  @include reset-list;
}

.site-jackpots__span{
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;

  &--automatic{
    background-color: #ffecef;
  }

  &--network{
    background-color: #f4f4ff;
  }

  &--bigger{
    background-color: #e4ffee;
  }

  &:hover{
    box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
    cursor: pointer;
  }
}

.site-jackpots__img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.site-jackpots__heading{
  padding-top: 15px;
  padding-bottom: 15px;
  @include title($font-size: 24px, $line-height: 24px)
}

.site-jackpots__text{
  margin: 0;
  padding-right: 60px;
  font-size: 16px;
  line-height: 18px;
}
