.site-questions{
  padding: 40px 0;
}

.site-questions__title{
  text-align: center;
  @include title($font-size: 36px, $line-height: 36px);
}

.site-questions__page{
  margin: 0;
  padding: 30px 0 50px 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $text-colors;
}

.site-questions__list{
  @include reset-list;
}

.site-questions__item{
  position: relative;
  margin-bottom: 10px;
  background-color: #f5f7fa;
  box-shadow: 0 10px 25px 0 rgba(198, 193, 194, 0.7);
}

//.site-questions__span{
//  position: absolute;
//  top: 50%;
//  right: 20px;
//  transform: translateY(-50%);
//  font-size: 40px;
//  color: $footer-colors;
//}

.site-questions__heading{
  padding: 20px 0 20px 20px;
  @include title($font-size: 20px, $line-height: 20px);
}

.active, .site-questions__heading:hover {
  cursor: pointer;
  background-color: #ccc;
}

.panel {
  margin: 0;
  width: 940px;
  font-size: 16px;
  line-height: 18px;
  color: $footer-colors;
  position: absolute;
  z-index: 100;
  padding: 10px 18px;
  display: none;
  background-color: #adb5bd;
  overflow: hidden;
}
