.site-brand{
  padding: 80px 0;
}

.site-brand__heading{
  padding-bottom: 20px;
  text-align: center;
  @include title($font-size: 20px, $line-height: 24px);
}

.site-brand__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include reset-list;
}
