.site-extra-changes{
  position: relative;
  padding: 80px 0;
  text-align: center;

  &::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f4f7f9;
    content: "";
  }
}

.site-extra-changes__title{
  @include title($font-size: 32px, $line-height: 34px);
}

.site-extra-changes__page{
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;
}

.site-extra-changes__link{
  margin-bottom: 40px;
  padding: 1px;
  display: inline-block;
  border: 1px solid $text-colors;
  border-radius: 20px;
}

.site-extra-changes__label{
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: $text-colors;
  font-family: $font-stack-accent;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus{
    background-color: #dde2e7;
    color: $heading-colors;
    cursor: pointer;
  }

  &:active{
    background-color: #dde2e7;
    color: $heading-colors;
    cursor: pointer;
  }
}

#monthly:checked~ .site-extra-changes__link .site-extra-changes__label:nth-child(1),
#annually:checked~ .site-extra-changes__link .site-extra-changes__label:nth-child(2){
  background-color: $button-colors;
  color: $main-colors;
}

.site-extra-changes__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include reset-list;
}

.site-extra-changes__item{
  margin-right: 40px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  overflow: hidden;

  &:hover,
  &:focus{
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
    cursor: pointer;
  }
}

.site-extra-changes__header{
  display: inline-block;
  padding: 30px;
  background-color: #f4f7f9;
}

.site-extra-changes__heading{
  padding: 10px 0 0 0;
@include title($font-size: 24px, $line-height: 28px);
}

.site-extra-changes__text{
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 18px;
}

.site-extra-changes__body{
  padding-bottom: 20px;
}

.site-extra-changes__button{
  margin-top: 10px;
}

.site-extra-changes__span{
  @include title($font-size: 48px, $line-height: 48px);
  font-weight: bold;
}
